*.a filter=lfs diff=lfs merge=lfs -text
lib/iPhoneOS/PhenixSdk.framework/PhenixSdk filter=lfs diff=lfs merge=lfs -text
lib/iPhoneSimulator/PhenixSdk.framework/PhenixSdk filter=lfs diff=lfs merge=lfs -text
